{% load static %}
<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <title>WebNihXrays Interface</title>
</head>
<body>
<div class="grid-container">
    <header>
        <div class="header-content">
            <h1>Web Nih Xrays Interface</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{%url 'index'%}"">Hlavní stránka</a></li>
            <li><a href="{%url 'upload'%}"">Nahrát obrázek</a></li>
        </ul>
    </nav>

    <main>
        <div>
            <br>
            {% block body_block %}
            {% endblock %}
            <br>
        </div>
    </main>
    <footer>
        <a href="https://github.com/PetrVorlicek/">@PetrVorlicek</a>
    </footer>
</div>
</body>