{% extends "base.html" %}

{% block body_block %}

<div>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="upload" accept="image/*">
        <br>
        <button class="btn btn-dark my-4" type="submit">Nahrát</button>
    </form>
    <div class="row">
        {% if class0 %}
          {%if file_url %} 
          <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
            <img src="{{ file_url }}" class="img-fluid">
            <br>
          </div>
          {% endif %}
        
        <p>Klasifikace:</p>
        <p>{{class0}} {{class1}}</p>
        {% else %}
        <p>Tento obrázek nelze klasifikovat!</p>
        {% endif %}
      </div>

</div>

{% endblock %}