{% extends "base.html" %}

{% block body_block %}

<div>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="upload" accept="image/*">
        <br>
        <button class="btn btn-dark my-4" type="submit">Nahrát</button>
    </form>
    <div>
        {% if file_url %}
           
          <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
            <img src="{{ file_url }}" class="img-fluid">
            <br>
          </div>
        {% endif %}
        {% if classification.0 %}
        <table>
          <caption>Klasifikace</caption>
          <thead>
            <tr>
              <th>Bez abnormality</th>
              <th>S abnormalitou</th>
              <th>Výsledek</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{classification.0}}</td>
              <td>{{classification.1}}</td>
              {% if classification.0 > classification.1 %}
              <td>Bez abnormality</td>
              {% else %}
              <td>S abnormalitou</td>
              {% endif %}
            </tr>
          </tbody>
        </table>
        {% else %}
        <p>Žádný obrázek ke klasifikaci!</p>
        {% endif %}
      </div>

</div>

{% endblock %}